.about-us-image {
	width: 50rem;
}
.about-us {
	border: 1px solid gold;
	gap: 4rem;
}
.about-us-text {
	width: 70%;
	padding: 3rem;
}
.about-us-text p.text2 {
	color: #3b7d66;
	font-weight: bold;
}
h1.heading {
	color: #c1a358;
	font-size: 2rem;
	margin-bottom: 3rem;
}
.about-us-text p.text {
	font-weight: 400;
	margin-bottom: 3rem;
}
.btn {
	padding: 0.5rem 1.75rem;
	color: #c1a358;
	border: 2px solid #c1a358;
}
